<!doctype html>
<html ng-app="hello" >
<head>
    <script src="angular.min.js"></script>
</head>
<body >
    <section ng-controller="HelloController as helloCtrl">
        <div>
            <input type="text" ng-model="helloCtrl.name" />
        </div>
        <h1>Hello {{helloCtrl.name}}</h1>
        <div>
            <button ng-click="helloCtrl.sayHi()" >CLICK ME </button>
        </div>
        <table> 
            <thead>
                <th>Picture</th>
                <th>Name</th>
                <th>Age</th>
            </thead>
            <tbody>
                <tr ng-repeat="item in helloCtrl.users" >
                    <td><img src="{{item.picture}}" /></td>
                    <td>{{item.name}}</td>
                    <td>{{item.age}}</td>
                </tr>
            </tbody>

        </table>
    </section>
    <script src="app.js"></script>

</body>
</html>